---
import Header from "../components/Header.astro";
import Base from "../layouts/Base.astro";
import Footer from "../components/Footer.astro";
---

<Base titre="Offre">
	<h1 class="text-red-400 font-bold text-8xl m-6 text-center ">Offres</h1>
</Base>