<nav class="flex justify-center gap-9 p-4 bg-blue-500 text-white">
    <a class=" hover:text-black hover:text-xl transition ease-in-out delay-150" href="/">Accueil</a>
    <a class=" hover:text-black hover:text-xl transition ease-in-out delay-150" href="offres">Offres</a>
</nav>