<nav class="flex justify-center gap-9 p-4 bg-black text-white">
    <a class=" hover:text-red-400 hover:text-xl transition ease-in-out delay-150" href="/">Accueil</a>
    <a class=" hover:text-red-400 hover:text-xl transition ease-in-out delay-150" href="offres">Offres</a>
    <a class=" hover:text-red-400 hover:text-xl transition ease-in-out delay-150" href="agent">Agents</a>
</nav>