---
import Header from "../../components/Header.astro";
import Base from "../../layouts/Base.astro";
import Footer from "../../components/Footer.astro";
import Card from "../../components/Card.astro";

import { getOffres } from "../../backend.mjs";

const offres = await getOffres();
console.log(offres);

---

<Base titre="Offre">
	<h1 class="text-red-400 font-bold text-8xl m-6 text-center">Offres</h1>

    <span class="">
        <div x-data="{ showGrille: true }">
            <button class="absolute right-24 motion-safe:animate-bounce group group-hover:before:duration-500 group-hover:after:duration-500 after:duration-500 hover:border-rose-300 hover:before:[box-shadow:_20px_20px_20px_30px_#a21caf] duration-500 before:duration-500 hover:duration-500 underline underline-offset-2 hover:after:-right-8 hover:before:right-12 hover:before:-bottom-8 hover:before:blur hover:underline hover:underline-offset-4  origin-left hover:decoration-2 hover:text-rose-300 bg-neutral-800 h-16 w-64 border text-left p-3 text-gray-50 text-xl font-bold rounded-lg  overflow-hidden  before:absolute before:w-12 before:h-12 before:content[''] before:right-1 before:top-1 before:z-10 before:bg-violet-500 before:rounded-full before:blur-lg  after:absolute after:z-10 after:w-20 after:h-20 after:content['']  after:bg-rose-300 after:right-8 after:top-3 after:rounded-full after:blur-lg" @click="showGrille = !showGrille">
                <span x-show="!showGrille">Liste</span>
                <span x-show="showGrille">Grille</span>
            </button>
        

	<div x-data="{ showFavorites: false }">
		<button class="motion-safe:animate-spin bg-slate-900 h-16 w-64 border-2 border-teal-600 text-white text-base font-bold rounded-xl overflow-hidden transform transition-all duration-500 hover:scale-105 hover:border-emerald-400 hover:text-emerald-300 p-3 text-left before:absolute before:w-10 before:h-10 before:content[''] before:right-2 before:top-2 before:z-10 before:bg-indigo-500 before:rounded-full before:blur-lg before:transition-all before:duration-500 after:absolute after:z-10 after:w-16 after:h-16 after:content[''] after:bg-teal-400 after:right-6 after:top-4 after:rounded-full after:blur-lg after:transition-all after:duration-500 hover:before:right-10 hover:before:-bottom-4 hover:before:blur hover:after:-right-6 hover:after:scale-110 ml-24" @click="showFavorites = !showFavorites">
			<span x-show="!showFavorites">Afficher les favoris</span>
			<span x-show="showFavorites">Afficher tout</span>
		</button>
    </span>
        <div>
			<div :class="showGrille ? 'grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4' : 'grid grid-cols-1 gap-4'" x-show="!showFavorites">
				{offres.map((offre) => <Card {...offre} />)}
			</div>
			<div :class="showGrille ? 'grid grid-cols-2 gap-4' : 'grid grid-cols-1 gap-4'" x-show="showFavorites">
				{offres.map((offre) => offre.Favori && <Card {...offre} />)}
			</div>
        </div>
	</div>
</div>


		
</Base>