---
import { getOffre } from "../../backend.mjs";
import { bySurface } from "../../backend.mjs";
import Base from "../../layouts/Base.astro";
import Card from "../../components/Card.astro";

const { surface } = Astro.params;
console.log(surface);

const offre = await bySurface(surface);
console.log(offre);
---

<Base titre={offre.surface}>
    <div>
        {offre.map((maison) => <Card {...maison} />)}
    </div>
</Base>